.login-form {
   width: 340px;
     margin: 50px auto;
     width: 50%;
 }
   .login-form form {
     margin-bottom: 15px;
       background: #f7f7f7;
       box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
       padding: 30px;
   }
   .login-form h2 {
       margin: 0 0 15px;
   }
   .form-control, .btn {
       min-height: 38px;
       border-radius: 2px;
   }
   .btn {
       font-size: 15px;
       font-weight: bold;
   }
   .login{
       background-image: url('/assets/loginback.jpg');
       padding: 7% 9% 9% 9%;
       overflow: hidden;
       background-repeat: no-repeat;
       background-size: 100% 100%;
   }
   .login-logo img{
       width: 35%;
   }
   .form-border{
       /*border: 1px solid red;*/
   }
