h1,h2,h3,h4,h5,h6{
   margin: 0;
 }
.card{
 padding: 20px;
 color: white;
 border-radius: 1px;
 width: 100%;
}
.card-1{
background-color: darkblue;
}
.card-2{
 background-color: darkcyan;
}
.card-3{
  background-color: grey;
}
.card-title{
 font-weight: 500;
 font-size: 36px;
}
.card-text{
 font-size: 24px;
 height: 100px;
}
.card-text-sub{

 font-size: 18px;
 font-weight: normal;
}
.arrow{
 position: relative;
}
.angle-icon{
 position: absolute;
 right: -10px;
 top: 80px;
 font-size: 50px;
 border-radius: 100%;
 background-color: lightgray;
padding: 10px 35px;
}
.col-pd > .col-md-4{
 padding-right: 4px;
 padding-left: 4px;
}
/* article css start */
*{
 box-sizing: border-box;
}
.title-gray{

 font-weight: normal;
}
.scroll-area{
 border: 2px solid #f2f2f2;
 padding: 10px;
}
.scrollspy{
 max-height: 350px;
 overflow-y:scroll;
}
.article{
 padding: 15px;
 margin: 10px;

}
.article:hover{
 border-radius: 10px;
 border: none;
 background-color: #ccc;
 cursor: pointer;
}

.article-title{
 color: dodgerblue;
 font-weight: bold;
 font-size: 19px;
 width: 95%;
 position: relative;
}
.article-text{
 font-size: 18px;
 color: black;
 width: 95%;
 position: relative;
}
.article-text div{
 position: absolute;
 font-size: 14px;
 right: -65px;
 bottom: -10px;
}
.article-text .d-none button{
 margin: 3px;
 font-size: 10px;
 border-radius: 5px;
 outline-style: none;
 box-shadow: none;
 cursor: pointer;
}
.icon-circle{
 text-align: center;
 background-color:#f2f2f2;
 border-radius: 50%;
 padding: 5px 15px;
 position: relative;
 top: -45px;
 left: -50px;
}
.icon-circle_a{
color:white;
background-color:#3771dd;
font-size: 14px;
padding: 5px 12px;
position: absolute;
top: 0;
right: -55px;
border-radius: 50%;
}
.article-icon {
 background: #f2f2f2;
 padding: 10px 15px;
 border-radius: 10px;
 position: relative;
 left: -45px;
}
.article-icon > a{
 padding-left: 15px;
}
.article:hover .icon-circle_a{
 color: black ;
 background-color: #ccc;

}
.article:hover .d-none {
 display: inline-block !important;
}
.modal-content{
 width: 811px;
   margin-left: -141px;
}

/* pop up css */
.modal-backdrop {
position: initial !important;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1040;
background-color: #000 !important;
}
.switch {
  position: relative;
  display: block;
  vertical-align: top;
  width: 100px;
  height: 30px;
  padding: 3px;
  margin: 0 10px 10px 0;
  background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
  background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #aaaaaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: #FFFFFF;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: blue;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}
.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 28px;
  height: 28px;
  background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
  border-radius: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
  background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
  left: 74px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
 
/* Transition
========================== */
.switch-label, .switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}