<div class="container mt-5">
    <div class="row">
        <div class="col-md-11">
            <div class="row col-pd">

                <div class="col-md-4">
                    <div class="card card-1">
                        <div class="card-body">
                            <h2 class="card-title">2166 </h2>
                            <h4 class="card-text">Abacavir Lamivudine..</h4>
                            <div class="card-text-sub">
                                    Monthly
                                </div>
                            <div class="row card-bottom">
                                <div class="col-md-6">Sept 23-30</div>
                                <div class="col-md-6">PubMed</div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-md-4">
                    <div class="card card-2">
                        <div class="card-body">
                            <h2 class="card-title">166 </h2>
                            <h4 class="card-text">Deanol Ascorbic Acid Magnesium...</h4>
                            <div class="card-text-sub">
                                    Monthly
                                </div>
                            <div class="row card-bottom">
                                <div class="col-md-6">Aug 01-31</div>
                                <div class="col-md-6">Springer</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="card card-3">
                        <div class="card-body">
                            <h2 class="card-title">166 </h2>
                            <h4 class="card-text">Amiloride And Hydrochlorothiazide</h4>
                            <div class="card-text-sub">
                                    Monthly
                                </div>
                            <div class="row card-bottom">
                                <div class="col-md-6">Aug 01-3 Oct</div>
                                <div class="col-md-6">Springer</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>




        <div class="col-md-1">
            <div class="row arrow">
              <div class="co-12 angle-icon ">
                <a><i class="fa fa-angle-right" aria-hidden="true"></i></a>
              </div>
            </div>
      </div>

    </div>
</div> 
<div class="container p-0 mt-4">
    <h5 class="mb-3">Abacavir Lamivundine...<span class="title-gray">Weekly(20-30sept)</span></h5>
    <span class="pull-right icon-circle">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
    <div class="row">
        <div class="scroll-area">
            <div class="scrollspy">
                <article class="article" *ngFor="let x of data">
                    <div class="article-title">
                        <p class="mb-0">{{x.result_title}}</p>
                        <span class="pull-right icon-circle_a"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                    </div>
                    <div class="article-text">
                            <p class="mb-0">{{x.result_abstract.length>350?x.result_abstract.substring(0,339).concat(".."):x.result_abstract}}</p>
                                <div class="pull-right d-none">
                                   
                                     <button type="button" class="btn btn-default btn-sm" (click)="openfullmode(x)" >Full view</button>
                                        <button type="button" class="btn btn-default btn-sm">Remove</button>
                                </div> 
                            
                        </div>
                </article>
                  
            </div>
            
        </div>
    </div>
</div>
<div class="container mt-2">
    <div class="row pull-right">
        <div class ="article-icon" >
            <a href="#"><i class="fa fa-download"  style="color: black;"></i></a>
            <a href="#" ><i class="fa fa-file-word-o" aria-hidden="true" style="color: blue"></i></a>
            <a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true" style="color:red"></i></a>
            <a href="#"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
        </div>
    </div>

</div>


<!-- modal -->

<div class="modal inmodal rounded-corners "   id="myModal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-lg rounded-corners " style="width:100%">
    <div class="modal-content animated fadeIn rounded-corners " style="background-color: rgb(239, 236, 236);">
      <div class="rounded-corners" style="background-color: rgb(239, 236, 236); text-align:center;">
      </div>
      <div class="panel panel-default">
        <button type="button" class="close" data-dismiss="modal" (click)="closemodal($event)" >&times;</button>
        <div class="panel-body" >
          <p>hello</p>
        </div>
      </div>

    </div>

  </div>

</div>





<!-- end modal -->