/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.modal-backdrop {
position: initial !important;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1040;
background-color: #fff;
}